# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Exclude these files from the release ZIP when using git archive
.gitignore export-ignore
.gitattributes export-ignore
resources/doc export-ignore
.github export-ignore